<div class="subheader">
  <div class="container">
		<h1 id="h1"><span style="color:greenyellow; font-weight:bold">~</span><span style="color:white">New Tally<span style="color:greenyellow; font-weight:bold">~</span></span></h1>
	</div>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>
  
  <%= render "form" %>

  <p class="linktop"><%= link_to "Back", tallies_path %></p>
</div>